# General
alias dc='docker-compose '
alias dotfiles='cd $HOME/repositories/dotfiles'
alias flush='killall -HUP mDNSResponder'
alias hrg='history | rg'
alias sudo='sudo '  # Allows aliases to be sudo'd
alias ugh='killall ControlStrip'
alias watch='watch '  # Allows watch to work with aliases, e.g. 'watch kgpo'

# Hiding and showing files in Finder
alias shf="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hhf="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Git (ones not defined in the oh-my-zsh plugin)
alias gbr='git branch'
alias gbrd='git branch -d'
alias gci='git commit'
alias gco='git checkout'
alias gcob='git checkout -b'
alias glog='git log'
alias gp='git push'
alias gpo='git push origin'
alias goops='git commit --amend --no-edit && git push --force-with-lease'

# Kubernetes (ones not defined in the oh-my-zsh plugin)
alias k8s-ns='kubectl config set-context --current --namespace'
alias kdpo='kubectl describe pods'
alias kdsvc='kubectl describe svc'
alias kepo='kubectl edit pods'
alias kesvc='kubectl edit svc'
alias kgdyaml='kubectl get deployment -o yaml'
alias kgnsyaml='kubectl get ns -o yaml'
alias kgpo='kubectl get pods'
alias kgpoyaml='kubectl get pods -o yaml'
alias kgsvc='kubectl get svc'
alias kgsvcyaml='kubectl get svc -o yaml'

# note
alias n='note'
alias nn='note new'
alias no='note open'
alias nl='note list'
alias nrm='note rm'
alias nmv='note mv'
alias ncat='note cat'

# Ruby
alias be='bundle exec '
alias ber='bundle exec rspec '
